{% include "header.html"%}



<div class="row">
    <div class="col-md-6 align-content-center text-center px-5">
        <h1>The Server may be overloaded, Try refreshing your browser</h1>
        <h5>{{error}}</h5>
    </div>
    <div class="col-md-6">
        <img src="/static/images/edit_error.png" alt="Error image" class="img-fluid">
    </div>
</div>






{% include "footer.html"%}
<!-- footer completion start -->
<script src="/static/bootstrap/js/bootstrap.bundle.js"></script>
<script src="/static/js/jquery-3.7.1.min.js"></script>
</body>
</html>

<!-- footer completion end -->