<div class="row footer pt-5 mt-5">
    <div class="col-12 col-lg-3 col-sm-12 mb-2 text-center">
      <img src="/static/images/logo.png" class="img-fluid" alt="logo">
      <h1>See Art Now</h1>  
    </div>
    <div class="col-6 col-sm-4 col-lg-2 d-none d-sm-block">
      <h4>Find Art</h4>
      <p><a href="#" class="footerlinks">Sellers</a></p>
      <p><a href="{{url_for('collections')}}" class="footerlinks">Collections</a></p>
      <p><a href="{{url_for('view_cart')}}" class="footerlinks d-none d-sm-block">User Favorites</a></p>
      <p><a href="" class="footerlinks d-none d-sm-block">Payment Info</a></p>
    </div>
    <div class="col-6 col-sm-4 col-lg-2 d-none d-sm-block">
      <h4>See Products</h4>
      <p><a href="{{url_for('collections')}}" class="footerlinks">Sketches</a></p>
      <p><a href="{{url_for('collections')}}" class="footerlinks">Embroideries</a></p>
      <p><a href="{{url_for('collections')}}" class="footerlinks">interior Designs</a></p>
      <p><a href="{{url_for('collections')}}" class="footerlinks">sculptures</a></p>
      <p><a href="{{url_for('collections')}}" class="footerlinks">paintings</a></p>
    </div>
    <div class="col-6 col-sm-4 col-lg-2">
      <h4>User Links</h4>
      <p><a href="{{url_for('login')}}" class="footerlinks">Login</a></p>
      <p><a href="{{url_for('register')}}" class="footerlinks">Register</a></p>
      <p><a href="" class="footerlinks d-none d-sm-block">FAQs</a></p>
      <p><a href="{{url_for('about')}}" class="footerlinks">About us</a></p>
    </div>
    <div class="col-6 col-sm-4 col-lg-2">
      <h4>Others</h4>
      <p><a href="{{url_for('contact')}}" class="footerlinks">Contact Us</a></p>
      <p><a href="" class="footerlinks">Terms of Use</a></p>
      <p><a href="" class="footerlinks">Privacy Policy</a></p>
      <p><a href="" class="footerlinks d-none d-sm-block">Accessibility</a></p>
    </div>
    
    <div class="col-12 text-center mt-5">
      <p>This website was launched in Beta in 2025, If you would like a change, feel free to contact us. Please note that we would love to hear your ideas and work on them</p>
      <p>&copy; 2025 See Art Now. All rights reserved</p>
    </div>
  </div>
</div>

