<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See Art Now</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body>
    <div class="container-fluid">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
          <div class="container-fluid">
            <a class="navbar-brand text-dark linknav fw-bold fs-4" href="{{url_for('index')}}">
              <img src="/static/images/logo.png" alt="Logo" width="40" height="32" class="d-inline-block align-text-top me-2">
              See Art Now</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header" aria-controls="header" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="header">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if session.get('isloggedin') == None %}
                <li class="nav-item">
                  <a href="{{url_for('login')}}" class="btn btn-md btn-success me-3">Login</a>
                </li>
                <li class="nav-item">
                  <a href="{{url_for('register')}}" class="btn btn-primary btn-md me-3">Register</a>
                </li>
                {% endif %}
                {% set online = session.get('isloggedin')%}
                {% if online %}
                {% if loggedin %}
                <li class="nav-item">
                  <a href="{{url_for('profile')}}" class="text-primary fw-bold me-3 nav-link">Hi {{loggedin.username}}</a>
                </li>
                <li class="nav-item">
                  <a href="{{url_for('logout')}}" class="text-danger fw-bold me-3 nav-link">Logout</a>
                </li>
                {% endif %}
                {% endif %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-dark fw-bold" href="{{url_for('collections')}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Collections
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{url_for('collections')}}">All Collections</a></li>
                    <li><a class="dropdown-item" href="{{url_for('sketches')}}">Sketches</a></li>
                    <li><a class="dropdown-item" href="{{url_for('embroideries')}}">Embroideries</a></li>
                    <li><a class="dropdown-item" href="{{url_for('paintings')}}">Paintings</a></li>
                    <li><a class="dropdown-item" href="{{url_for('sculptures')}}">Sculptures</a></li>
                    <li><a class="dropdown-item" href="{{url_for('interiors')}}">Interior Designs</a></li>
                  </ul>
                </li>
               </ul>
               {% if session.get('isloggedin')%}
               <div class="d-flex me-5">
                <a href="{{url_for('view_cart')}}">
                  <img src="/static/images/cart.png" alt="Logo" width="40" height="32" class="d-inline-block align-text-top">
                </a>
                <p class="pt-2 cart_amt fw-bold text-danger" id="cart-items">{{session.get('cart')|length}}</p>
               </div>
               {% endif %}
               <div>

               </div>
              <form class="d-flex" role="search">
                <input class="form-control me-2 text-dark" type="search" placeholder="Search Page" aria-label="Search">
                <button class="btn btn-outline-danger" type="submit">Search</button>
              </form>
            </div>
          </div>
      </nav>

      <div class="row bg-body-secondary">
        <div class="col-md-10 offset-md-1 my-3">
          <p class="text-center fs-6">DISCLAIMER! This site was launched in beta, if you encounter any errors please contact us from the link at the bottom of the page. We hope you enjoy your experience here</p>
        </div>
      </div>